.fileBox {
	background: #99b;
	text-align: center; 
	border: 1px solid #c6c6a9; 
	display: inline-block; 
	padding: 5px;
	color: blue;
	text-decoration: underline;
	overflow-wrap: break-word;
	width: 200px;
	font-size: 11px;
}

.fileBox-op {
	vertical-align: top;
	background-color: #d4d4d4;
	text-align: center; 
	border: 1px solid #c6c6a9; 
	display: inline-block; 
	padding: 5px;
	color: blue;
	text-decoration: underline;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	overflow-wrap: break-word;
	width: 200px;
	font-size: 11px;
}

.uploadImage {
	margin-top: 3px;
}

.spoiler {
    background: #000;
    color: #000;
}

.spoiler:hover {
	color: white;
}

.redText {
    color: #af0a0f;
    font-weight: 700;
    font-size: 125%;
}

.greenText {
	color: #077;
}

.orangeText{
	color: #e04000;
}
.quoteLink {
	color: blue;
	text-decoration: underline;
}

.postSubject {
	color: #c33; 
	font-weight: bold; 
	font-size: 20px; 
	display: inline;
}

.tableAdditional {
	border-spacing: 0 15px; 
	border-collapse:separate; 
	display: inline-block; 
	word-break: break-word; 
	overflow-wrap: break-word;
}



.postName {
	color: #3333cc; 
	display: inline; 
	font-weight: bold;
	display: inline;
}

.postDate {
	display: inline;
}

.postBody {
	line-height: 1.2em;
}