{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}
	<div class="mx-auto" style="width: 85%;">
		<p class="lead text-justify">
			Why?<br/>
			Why the fug not! That's why.<br/>
			P.S. Running this thing costs money. Not too much thus far, but still.<br/><br/>
			
			<br/><br/>
			A few things I'd like you to know:</p>
			<ul class="lead">
				<li>If you screwed up, posted something personal and it got archived, message me and I'll delete it.</li>
				<li>If you find someone else's personal information please disclose it to me and I'll delete it.</li>
				<li>If you find a bug please tell me and I'll fix it.</li>
				<li>If you want me to add a feature to the site please let me know.</li>
			</ul>
			<br/>
			<span class="lead" style="font-size: 18px;">t. Georgiaball</h4>
		</p>
	</div>
	
{% endblock %}